{% extends "layout.html" %} {% block tit %} WArcade {% endblock %} {% block
enc%} ¡Bienvenido! {% endblock %} {% block contenido%}

<div class="container-xl">
  <div class="card-body">
    <h5>¿Que es Warland Arcade</h5>
    <p class="card-text">
      Es una pagina de entrenimiento local, donde puedes elegir el juego que
      desee sin necesidad de estar conectado a Internet.
    </p>
    <p>¿Estas aburrido? Elije una opcion:</p>
  </div>
  <div class="card text-center md-3">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
        <img class="card-img-top" src={{ image_Risk }} alt="Card image cap", title="Risk", class="fotoRisk">
          <div class="card-body">
            <h5 class="card-title">Risk</h5>
            <p class="card-text">
              Domina el mundo en este juego de conquista estratégica...
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
        <img class="card-img-top" src={{ image_B }} alt="Card image cap", title="Backgammon", class="fotoBackgammon">
          <div class="card-body">
            <h5 class="card-title">Backgammon</h5>
            <p class="card-text">
              ¡El juego de mesa clásico que todos disfrutan!
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
